footer{
    background-color: rgb(19, 15, 15);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    
}

html,
body,
img,
figure {
    max-width: 100%
}

html,
body {
    overflow-x: hidden;
    color: #000;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}
